<div class="card" style="width: 100%;">
    <div class="card-body">
      <table class="mytable table table-striped example" style="width:100%">
      <thead>
        <tr>
          <th class="col-2" scope="col">Fournisseur</th>
          <th class="col-1" scope="col">N° lot approvisionnement</th>
          <th class="col-1" scope="col">Total</th>
          <th class="col-1" scope="col">Variété</th>
          <th class="col-2" scope="col">Maturité des dattes</th>
          <th scope="col">Etat sanitaire </th>
          <th class="col-1" scope="col">Decision</th>
          <th class="col-3" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fiche of fichesBonEntree">
          <td>{{fiche.fournisseur.nom}}</td>
          <td>{{fiche.lot.numLotAppro}}</td>
          <td>{{fiche.total}}</td>
          <td>{{fiche.lot.variete}}</td>
          <td>{{fiche.lot.maturite}}</td>
          <td>{{fiche.lot.aspectSanitaire}}</td>
          <td>{{fiche.decision}}</td>
          <td><button (click)="deleteFicheRec(fiche.numBon)" class="btn btn-danger">Delete</button>
            <button (click)="updateFicheRec(fiche.numBon)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="container">
      <h4>Create Bon Entree</h4>
      <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" id="Date" required [(ngModel)]="bonEntree.date" name="Date">
            </div>
            <div class="form-group" *ngIf="isAdd">
                <label for="selectl">N° du lot d’approvisionnement</label>
                <select name="selectmodel" [(ngModel)]="bonEntree.lot" class="custom-select" id="selectl" (change)="onchangeLot(bonEntree.lot)">
                  <option *ngFor="let lot of lots" [ngValue]="lot">{{lot.numLotAppro}}</option>
                </select>
            </div>
            <div class="form-group">
              <label for="Fournisseur">Fournisseur</label>
              <input type="text" class="form-control" id="Fournisseur" disabled required [(ngModel)]="bonEntree.fournisseur.nom" value="{{bonEntree.fournisseur.nom | json}}" name="Fournisseur">
            </div>
            <!-- <div class="form-group" *ngIf="isAdd">
                <label for="selectf">Fournisseur</label>
                <select name="selectmodel" [(ngModel)]="fournisseur" class="custom-select" id="selectf" (change)="onchange(fournisseur.id)">
                  <option *ngFor="let four of fournisseurs | async" [ngValue]="four">{{four.nom}}</option>
              </select>
            </div> -->
            <!-- <div class="form-group" *ngIf="!isAdd">
              <label for="Fournisseur">Fournisseur</label>
              <input type="text" class="form-control" id="Fournisseur" disabled [(ngModel)]="bonEntree.fournisseur.nom" name="Fournisseur">
            </div> -->
            <div class="form-group">
                <label for="Total">Total</label>
                <input type="number" class="form-control" disabled id="Region" required [(ngModel)]="bonEntree.total"  name="Total">
            </div>
            <div class="form-group">
              <label for="Variété">Variété</label>
              <input type="text" class="form-control" disabled id="Variété" required [(ngModel)]="bonEntree.lot.variete" name="Variété">
            </div>  
              <table>
                <tr>
                  <td><label>Stade de maturité</label></td>
                  <td>
                    <div class="form-group" style="margin-top: 12px;">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input mt-1 ml-2" type="radio" name="Stade_de_maturite" value="Vert" [(ngModel)]="bonEntree.lot.maturite">  
                          Vert
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="tournante" [(ngModel)]="bonEntree.lot.maturite">  
                          tournante
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="mature" [(ngModel)]="bonEntree.lot.maturite">  
                          mature
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="sur-maturée" [(ngModel)]="bonEntree.lot.maturite">  
                          sur-maturée
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <label for="Aspect_sanitaire">Aspect sanitaire</label>
                    </td>
                    <td>
                        <div class="form-group" style="margin-top: 12px;">
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input mt-1 ml-2" name="Aspect_sanitaire" value="Bon" checked [(ngModel)]="bonEntree.lot.aspectSanitaire">
                                Bon
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input mt-1" name="Aspect_sanitaire" value="moyen" [(ngModel)]="bonEntree.lot.aspectSanitaire">
                                moyen
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input mt-1" name="Aspect_sanitaire" value="médiocre " [(ngModel)]="bonEntree.lot.aspectSanitaire">
                                médiocre 
                              </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Decision">Decision</label>
                    </td>
                    <td>
                        <div class="form-group" style="margin-top: 12px;">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input mt-1 ml-2" name="Decision" required="required" value="Acceptation" [(ngModel)]="bonEntree.decision">
                                Acceptation
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input mt-1" name="Decision" required="required" value="Rejet" [(ngModel)]="bonEntree.decision">
                                Rejet 
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
              </table>
            <div class="form-group">
                <label for="Remarque">Remarque</label>
                <input type="text" class="form-control" id="Remarque" [(ngModel)]="bonEntree.remarqueBon" name="Remarque">
            </div>
            <div class="form-group">
              <label for="Responsable_approvisionnement">Responsable d'approvisionnement <span *ngIf="!isAdd" style="font-weight: bold;">:{{bonEntree.responsable.nom}}</span></label>
              <select name="Responsable_approvisionnement" [(ngModel)]="bonEntree.responsable" class="custom-select" id="Responsable_approvisionnement">
                <option *ngFor="let respo of responsablesAppro" [ngValue]="respo">{{respo.nom}}</option>
              </select>  
            </div>
            <button *ngIf="isAdd" type="submit" class="btn btn-primary">Submit</button>
            <button *ngIf="!isAdd" type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>