
<div class="card" style="width: 100%;">
    <div class="card-body">
      <table class="mytable table table-striped" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Code Fournisseur</th>
            <th scope="col">Transporteur </th>
            <th scope="col">Region</th>
            <th scope="col">Variété</th>
            <th scope="col">Quantité livrée</th>
            <th scope="col">Date de livraison</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fiche of fichesRec">
            <td>{{fiche.fournisseur.codeFr}}</td>
            <td>{{fiche.lot.transport.nomTranspt}}</td>
            <td>{{fiche.lot.parcelle.ferme.region}}</td>
            <td>{{fiche.lot.variete}}</td>
            <td>{{fiche.qteLivree}}</td>
            <td>{{fiche.lot.dateLivraison}}</td>
            <td >
              <button (click)="deleteFicheRec(fiche.codeRecep)" class="btn btn-danger">Delete</button>
              <button (click)="updateFicheRec(fiche.codeRecep)" class="btn btn-info float-right" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  <hr>
  <div class="card">
    <div class="card-body">
    <div class="container">
      <h4></h4>
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="selectf">Fournisseur <span *ngIf="!isAdd" style="font-weight: bold;">:{{ficheRec.fournisseur.nom}}</span></label>
            <select name="selectmodel" [(ngModel)]="ficheRec.fournisseur" class="custom-select" id="selectf">
              <option *ngFor="let four of fournisseurs" [ngValue]="four">{{four.nom}}</option>
            </select>
          </div>
           <div class="form-group">
            <label for="selectmodel2">Ferme <span *ngIf="!isAdd" style="font-weight: bold;">:{{ficheRec.lot.parcelle.ferme.region}}</span></label>
            <select name="selectmodel2" [(ngModel)]="ficheRec.lot.parcelle.ferme" class="custom-select" id="selectmodel2">
              <option *ngFor="let ferm of ficheRec.fournisseur.ferme" selected="selected"  [ngValue]="ferm">{{ferm.region}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectmodel3">Variété</label>
            <select class="custom-select" id="selectmodel3" required [(ngModel)]="ficheRec.lot.variete" name="selectmodel3">
              <option *ngFor="let variete of varietes" [ngValue]="variete">{{variete}}</option>   
            </select>
          </div>
          {{ficheRec.lot.variete}}
          <div class="form-group">
            <label for="Transporteur">Transporteur </label>
            <input type="text" class="form-control" id="Transporteur" required [(ngModel)]="ficheRec.lot.transport.nomTranspt" name="Transporteur">
          </div>
          <div class="form-group">
            <label for="camion">Matricule Camion </label>
            <input type="text" class="form-control" id="camion" required [(ngModel)]="ficheRec.lot.transport.matricule" name="camion">
          </div>
          
          <div class="form-group">
            <label for="Date_de_recolte">Date de récolte</label>
            <input type="date" class="form-control" id="Date_de_recolte" required [(ngModel)]="ficheRec.lot.dateRecolte" name="Date_de_recolte">
          </div>

          <div class="form-group">
            <label for="Quantite_livree">Quantité livrée</label>
            <input type="number" class="form-control" id="Quantite_livree" required [(ngModel)]="ficheRec.qteLivree" name="Quantite_livree">
          </div>

          <div class="form-group">
            <label for="Date_de_livraison">Date de livraison</label>
            <input type="date" class="form-control" min="{{ficheRec.lot.dateRecolte}" id="Date_de_livraison" required [(ngModel)]="ficheRec.lot.dateLivraison" name="Date_de_livraison">
          </div>
          
          <div class="form-group">
            <label for="name">Dattes récoltées au sol (traces de terre)</label>
            <input type="text" class="form-control" id="tracesTerre" required [(ngModel)]="ficheRec.lot.parcelle.tracesTerre" name="tracesTerre">
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="name">Etat de fraîcheur</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Etat_de_fraîcheur" value="Bon" checked [(ngModel)]="ficheRec.lot.etatFraicheur">
                  Bon
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Etat_de_fraîcheur" value="moyen"  [(ngModel)]="ficheRec.lot.etatFraicheur">
                  moyen
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Etat_de_fraîcheur" value="médiocre "  [(ngModel)]="ficheRec.lot.etatFraicheur">
                  médiocre 
                </label>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="Aspect_sanitaire">Aspect sanitaire</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Aspect_sanitaire" value="Bon" checked [(ngModel)]="ficheRec.lot.aspectSanitaire">
                  Bon
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Aspect_sanitaire" value="moyen" [(ngModel)]="ficheRec.lot.aspectSanitaire">
                  moyen
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="Aspect_sanitaire" value="médiocre " [(ngModel)]="ficheRec.lot.aspectSanitaire">
                  médiocre 
                </label>
              </div>
            </div>
          </div>	
          <table>
            <tr>
              <td><label>Stade de maturité</label></td>
              <td>
                <div class="form-group" style="margin-top: 12px;">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1 ml-2" type="radio" name="Stade_de_maturite" value="Vert" [(ngModel)]="ficheRec.lot.maturite">  
                      Vert
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="tournante" [(ngModel)]="ficheRec.lot.maturite">  
                      tournante
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="mature" [(ngModel)]="ficheRec.lot.maturite">  
                      mature
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio" name="Stade_de_maturite" value="sur-maturée" [(ngModel)]="ficheRec.lot.maturite">  
                      sur-maturée
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>            
                <label>Fermentation</label>
              </td>
              <td>
                <div class="form-group" style="margin-top: 12px">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1 ml-2" type="radio" name="Fermentation" value="Oui" [(ngModel)]="ficheRec.lot.fermentation">  
                      Oui
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio" name="Fermentation" value="Non" [(ngModel)]="ficheRec.lot.fermentation">  
                      Non
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>            
                <label>Corps étrangers</label>
              </td>
              <td>
                <div class="form-group" style="margin-top: 12px;">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1 ml-2" type="radio" checked="checked" name="Corps_etrangers" onclick="corps_etr(true)" value="true">  
                      Oui
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio"  name="Corps_etrangers" onclick="corps_etr(false)" value="false">  
                      Non
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label>Humidité</label>
              </td>
              <td>
                <div class="form-group" style="margin-top: 12px;">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1 ml-2" type="radio" name="Humidite" value="Oui" [(ngModel)]="ficheRec.lot.humidite" >  
                      Oui
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input mt-1" type="radio" name="Humidite" value="Non" [(ngModel)]="ficheRec.lot.humidite" >  
                      Non
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div class="form-group" id="blockCorps">
            <label for="corps_etrangers">Si corps étrangers, lesquels:</label>
            <input type="text" class="form-control" id="corps_etrangers" [(ngModel)]="ficheRec.lot.corpsEtrangers" name="corps_etrangers">
          </div>
          <div class="form-group">
            <label for="comments">Appréciation et commentaires</label>
            <input type="text" class="form-control" id="comments" [(ngModel)]="ficheRec.commentaire" name="comments">
          </div>
          <div class="form-group">
            <label for="humidite_date">Humidité des dattes </label>
            <input type="text" class="form-control" id="humidite_date" [(ngModel)]="ficheRec.humiditeDattes" name="humidite_date">
          </div>
          <div class="form-group">
            <label for="Responsable_approvisionnement">Responsable d'approvisionnement <span *ngIf="!isAdd" style="font-weight: bold;">:{{ficheRec.responsable[0].nom}}</span></label>
            <select name="Responsable_approvisionnement" [(ngModel)]="ficheRec.responsable[0]" class="custom-select" id="Responsable_approvisionnement">
              <option *ngFor="let respo of responsablesAppro" [ngValue]="respo">{{respo.nom}}</option>
            </select>  
          </div>
          <div class="form-group">
            <label for="Responsable_qualite">Responsable qualité <span *ngIf="!isAdd" style="font-weight: bold;">:{{ficheRec.responsable[1].nom}}</span></label>
            <select name="Responsable_qualite" [(ngModel)]="ficheRec.responsable[1]" class="custom-select" id="Responsable_qualite">
              <option *ngFor="let respo of responsablesqualite" [ngValue]="respo">{{respo.nom}}</option>
            </select>
          </div>
          <button *ngIf="isAdd" type="submit" class="btn btn-primary">Submit</button>
          <button *ngIf="!isAdd" type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  </div>